@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities"; */

* {
  font-family: "Courier New", Courier, monospace;
}

.radial-blue {
  background: radial-gradient(lightyellow, skyblue);
}

body {
  color: #000;
  font-size: 20px;
}
