* {
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  margin: 0;
}

.calculator {
  background-color: burlywood;
  width: 40%;
  margin: 30px auto;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

.direction {
  display: flex;
  width: 100%;
}

input {
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
  font-size: 16px;
  text-align: right;
}

button {
  width: 23%;
  padding: 10px;
  font-size: 16px;
  margin: 5px;
  cursor: pointer;
}
