<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet" />
    <title>Rock Paper Scissors Game</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='rps.css') }}" />
  </head>
  <body>
    <div class="container">
      <form method="POST">
        <div class="weapons">
          <button type="submit" name="user_choice" value="r" title="rock-btn">
            <i class="far fa-hand-rock"></i>
          </button>
          <button type="submit" name="user_choice" value="p" title="paper-btn">
            <i class="far fa-hand-paper"></i>
          </button>
          <button type="submit" name="user_choice" value="s" title="scissors-btn">
            <i class="far fa-hand-scissors"></i>
          </button>
        </div>
      </form>

      <div class="details">
        {% if result %}

        <p id="user_choice">Your choice: {{ user_choice }}</p>
        <p id="comp_choice">Computer's choice: {{ computer_choice }}</p>
        <p id="result">It is a: {{ result }}</p>

        {% endif %}
      </div>
    </div>
  </body>
</html>
